@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap");

section {
  background-color: rgb(70, 70, 70);
  color: whitesmoke;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Stoke", serif;
  padding: 20px;
}
#slider {
  overflow: hidden;
  padding-top: 20px;
}
 img {
   width: 20%;
   float: left;
  }
figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slidy infinite;
}

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: 0%; }
  }
