@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
#footer {
  display:flex;
  height: 40px;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 3px;
  text-transform: uppercase;
  font-family: "Russo One", sans-serif;
}
